# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment
.env
.env.*

# Data
data/raw/
data/processed/

# Airflow
airflow/logs/
airflow/.airflow/

# dbt
dbt/target/
dbt/logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
